@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #b007b3;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: #ccc;
}

.container {
    min-height: 100vh;
    background: #08071d;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("shopping-online-.avif") no-repeat center center/cover;
}

.container form {
    width: 670px;
    height: auto;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    flex-wrap: wrap;
    padding: 20px;
}

.container form h1 {
    color: #b007b3;
    font-weight: 500;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.container form h5 {
    color: #0b0b0b;
    font-weight: 300;
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
    text-align: justify;
}




